.venue {
  width: 50em;
  margin: auto;
  margin-bottom: 1em;
}

.title {
  font-size: 2em;
  text-align: center;
}

.align-right {
  float: right;
  margin-right: 10em;
}

.align-left {
  float: left;
  margin-left: 10em;
}

.info {
  margin-bottom: 3em;
  font-size: 1.5em;
}

.attend {
  text-align: center;
}
